* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}



body {
    display: grid;
    
    background: #121214;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.disabled {
    opacity: .3;
}


.effect-degrade {
    width: 500px;
    height: 500px;
    position: fixed;
    top: -240px;
    right: 50%;
    border-radius: 50%;
    filter: blur(150px);

}

.effect-degrade.red {
    background: radial-gradient(#FF3D6E, rgba(0,0,0, 0));
}
.effect-degrade.yellow {
    background: radial-gradient(#FFC323, rgba(0,0,0, 0));
    right: 5%;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    

    background: url('../images/background.svg');
    background-position: center;
    background-size: cover;

}

/* .content {
    max-width: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
   
} */

.form-content {
    margin-top: 100px;
}


.title {
    font-size: 40px;
    color: var(--grey);
    font-weight: bold;
    
}

form {
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.required {
    font-size: 10px;
    color: #FF3D6E;
}



form label {
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 10px;
}

form input,
select {
    width: 100%;
    height: 36px;
    font-size: 12px;
    color: var(--black);
    padding: 4px;
    margin: 2px 0 10px;
    border-radius: 5px;
    outline: none;
}


form  .title {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}





.btn {
    width: 100%;
    height: 35px;
    font-size: 18px;
    color: #fff;
    background-color: #3bb403;
    border-radius: 5px;
    text-align: center;
    outline: none;
    margin-top: 10px;
}

.btn:hover {
    filter: brightness(1.1)
}


@media (min-width: 425px) {
    body {
        place-items: center;
    }

    main {
        max-height: 812px;
        max-width: 375px;
        justify-content: center;
        
    }

    main::before {
        content: "";
        width: 64px;
        height: 110px;
        background: linear-gradient(130deg, #FF008E, #FFCD1E);
        position: absolute;
        top: 0;
        margin: 0 auto;
        z-index: 1000;
    }

    main::after {
        content: "";
        position: absolute;
        top: 106px;
        width: 80px;
        height: 8px;
        background: #000;

    }

    
}

@media (min-width: 768px){
    .effect-degrade {
        right: 40%;
    }

    .effect-degrade.yellow {
        right: 10%;
    
    } 
    
    main {
        height: 540px;
        width: 358px;
    }

    main::before {
        height: 200px;
        top: 0;
    }

    main::after {
        top: 197px;
    }

    
}

@media (min-width: 1024px) {
    .effect-degrade {
        right: 50%;
    }

    .effect-degrade.yellow {
        right: 25%;
    
    } 
    
    main {
        height: 600px;
        width: 418px;
    }

    main::before {
        height: 200px;
        top: 0;
    }

    main::after {
        top: 197px;
    }

    
}

@media (min-width: 1440px) {
    

    main::before {
        height: 220px;
        top: 0;
    }

    main::after {
        top: 217px;
    }

    
}
