.content {
    max-width: 250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center
    
}

.avatar {
    width: 10rem;
    
    margin: 0 auto;

    position: relative;

    
}

.avatar .build {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 2;
}


.avatar div img {
    width: 10rem;
    height: 11.5rem;

    object-fit: cover;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);  
}

.user-info {
    
    color: var(--grey);

    margin-top: 15px;
}

.user-info .name {
    font-size: 24px;
    font-weight: bold;
    
}

.login-github {
    margin-top: 4px;
    
}

.login-github span {
    font-size: 16px;
    color: var(--grey);
}

.bio {
    margin-top: 32px;
    font-size: 14px;
}

.social-links {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cardSociallink {
    min-width: 48px;
    height: 48px;
    background: #323238;
    
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.cardSciallink.youtube:hover a img {
    filter: brightness(0.5) sepia(1) saturate(37) hue-rotate(
        341deg);
}
.cardSciallink.facebook:hover  a img {
    filter: brightness(0.5) sepia(1) saturate(50) hue-rotate(
        180deg);
}
.cardSciallink.instagram:hover  a img {
    /* background: linear-gradient(#7523BF, #C3256B, #DD903F); */
    filter: brightness(0.5) sepia(5) saturate(5) hue-rotate(
        9deg);
}
.cardSciallink.twitter:hover  a img {
    filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(140deg);
}
.cardSciallink.twitch:hover  a img {
    filter: brightness(0.5) sepia(1) saturate(13) hue-rotate(223deg)
}
.cardSciallink.nimo:hover  a img {
    filter: brightness(0.5) sepia(1) saturate(41) hue-rotate(
        219deg);
}
.cardSciallink.trovo:hover  a img {
    filter: brightness(0.5) sepia(1) saturate(41) hue-rotate(
        123deg)
}

.cardSciallink a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cardSciallink a:hover div {
    opacity: 1;
}

.cardSciallink a div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.cardSciallink a div::before {
    content: "";
    background: conic-gradient(
        #FF008E 50%,
        #FFCD1E 50%
        
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
    opacity: 1;
}
.cardSciallink a div::after {
    opacity: 1;
    content: '';
    width: 45px;
    height: 45px;
    background: #323238;
    position: absolute;
    /* box-shadow: inset 20px 20px 20px rgba(0,0,0,0.2); */
}

.cardSciallink a img {
    position: absolute;
    z-index: 10;
}
